body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(images/background.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.clock {
    width: 100px;
    height: 100px;
    position: absolute;
    background: url(images/clock.png) no-repeat center/cover;
    border-radius: 50%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hand {
    width: 50%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
}

.second-hand {
    background-color: red;
}